@use "sass:math";

@function rem($pixels, $context: 16) {
	@return (math.div($pixels, $context)) * 1rem;
}
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "variables";
@import "nullstyle.scss";

body,
html {
	overflow-x: hidden;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
}
.wrapper {
	overflow-x: hidden;
}
.header {
	background-color: $dark;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
.invisible {
	display: none;
}
.btn {
	font-weight: 500;
	background-color: $accent;
	border-radius: 32px;
	padding: 14px 32px;
	font-size: rem(16);
	color: $white;
	transform: scale(1);
	display: inline-block;
	transition: 0.2s;
	&:hover {
		transform: scale(1.05);
	}
}

// ---------------------

.header-top {
	padding: 60px 0 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include breakpoint(sm) {
		padding: 20px 0;
	}
	&__img {
	}

	&__menu {
		@include breakpoint(lg) {
			display: none;
		}
		margin: 0 0 0 auto;
		margin-right: 56px;
	}

	&__ul {
		display: flex;
		align-items: center;
	}

	&__li {
		margin-left: 32px;
		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		font-size: rem(16);
		letter-spacing: 0.01em;
		color: $white;
	}

	&__buttons {
	}

	&__btn {
		font-size: rem(16);
		font-weight: 500;
		color: $white;
		padding-right: 24px;
		margin-right: 24px;
		position: relative;
		&:after {
			position: absolute;
			display: block;
			content: "";
			background-color: rgba(#f2f2f2, 0.3);
			width: 1px;
			height: 120%;
			top: 0;
			right: 0;
		}
		@include breakpoint(sm) {
			display: none;
		}
	}

	&__btn-main {
	}
}
.header-bot {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding-bottom: 100px;
	@media (max-width: 1150px) {
		padding-bottom: 20px;
	}
	&__left {
		margin-top: 45px;
		font-size: rem(16);
		@include breakpoint(sm) {
			margin-top: 20px;
		}
	}

	&__round {
		display: inline-flex;
		background: $transp;
		border-radius: 32px;
		@include breakpoint(sm) {
			display: none;
		}
	}
	&__round-invisible {
		display: none;
		@include breakpoint(sm) {
			display: block;
			display: inline-flex;
			background: $transp;
			border-radius: 32px;
			margin-bottom: 15px;
		}
		@include breakpoint(xs) {
			font-size: rem(13);
		}
	}

	&__round-sale {
		font-weight: 500;
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $dark;
		padding: 4px 16px;
		background-color: $white;
		border-radius: 32px;
		margin: 4px 16px 4px 4px;
	}

	&__round-week {
		letter-spacing: 0.01em;
		color: $white;
		margin: 8px 11px 0 0;
	}

	&__title {
		font-weight: 700;
		font-size: rem(64);
		color: $white;
		max-width: 568px;
		line-height: 1.2;
		margin: 24px 0;
		@include breakpoint(sm) {
			font-size: rem(40);
			margin-top: 12px;
		}
	}

	&__desc {
		color: $gray;
		max-width: 360px;
		line-height: 1.7;
		margin-bottom: 32px;
	}

	&__btn {
		font-size: rem(18);
	}

	&__right {
		img {
			width: 100%;
			max-width: 604px;
		}
		@include breakpoint(lg) {
			display: none;
		}
	}
}

// -----------------

.numbers {
	padding: 100px 0 116px;
	background-color: $dark;
	@media (max-width: 1150px) {
		padding: 50px 0 20px;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-around;
		@media (max-width: 1150px) {
			flex-direction: column;
			margin-left: 50px;
		}
	}

	&__item {
		position: relative;
		@media (max-width: 1150px) {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&::before {
			display: block;
			content: "";
			position: absolute;
			left: -100px;
			top: -20px;
			background-color: rgba($white, 0.1);
			width: 80px;
			height: 80px;
			border-radius: 50%;
			@include breakpoint(sm) {
				width: 60px;
				height: 60px;
				left: -70px;
				top: -5px;
			}
		}
		&::after {
			display: block;
			content: "";
			position: absolute;
			left: -80px;
			top: 0px;
			background: url("../img/earth.svg") 0 0 / 100% no-repeat;
			width: 40px;
			height: 40px;
			@include breakpoint(sm) {
				left: -60px;
				top: 5px;
			}
		}
	}

	&__item-01 {
		&:after {
			background: url("../img/Chart.svg") 0 0 / 100% no-repeat;
			width: 32px;
			height: 32px;
			top: 3px;
			left: -76px;
			@include breakpoint(sm) {
				left: -56px;
				top: 8px;
			}
		}
	}

	&__num {
		font-weight: 700;
		font-size: rem(40);
		color: $white;
		margin-bottom: 15px;
		@include breakpoint(sm) {
			font-size: rem(30);
		}
	}

	&__desc {
		letter-spacing: 0.01em;
		color: $gray;
		font-style: rem(16);
	}

	&__item-02 {
		margin-right: 21px;
		&:after {
			background: url("../img/person.svg") 0 0 / 100% no-repeat;
		}
	}

	&__item-03 {
		margin-right: 40px;
	}
}

.check {
	background-color: $dark;
	padding-top: 100px;
	padding-bottom: 154px;
	@include breakpoint(md) {
		padding-bottom: 100px;
	}
	&__inner {
		position: relative;
		max-width: 942px;
		margin: 0 auto;
	}

	&__title {
		font-weight: 700;
		font-size: rem(40);
		text-align: center;
		color: $white;
		margin-bottom: 24px;
		@include breakpoint(md) {
			font-size: rem(30);
		}
	}

	&__text {
		font-size: rem(18);
		text-align: center;
		color: $gray;
		max-width: 500px;
		margin: 0 auto;
		line-height: 1.6;
		margin-bottom: 64px;
		@include breakpoint(md) {
			font-size: rem(16);
		}
	}

	&__card {
		position: absolute;
		width: 100%;
		left: 0;
		top: 178px;
		background-color: $white;
		padding: 48px;
		border-radius: 16px;
		@include breakpoint(md) {
			padding: 24px;
		}
		@include breakpoint(sm) {
			padding: 12px;
		}
	}

	&__form {
		display: flex;
		justify-content: space-between;
		padding-bottom: 48px;
		@include breakpoint(md) {
			padding-bottom: 0;
		}
		@include breakpoint(sm) {
			flex-direction: column;
			display: inline-flex;
		}
	}
	&__form-input {
		display: block;
		font-size: rem(20);
		color: $dark;
		&::placeholder {
			font-size: rem(20);
			color: $dark;
		}
		padding-bottom: 8px;
		@include breakpoint(md) {
			margin-bottom: 20px;
			padding-bottom: 0;
			font-size: rem(18);
			&::placeholder {
				font-size: rem(18);
			}
		}
	}
	&__form-enter {
		position: relative;
		&:before {
			bottom: 10px;
			left: 0;
			background-color: $gray;
			position: absolute;
			display: block;
			width: 210%;
			height: 1px;
			content: "";
			@include breakpoint(lg) {
				width: 90%;
			}
			@include breakpoint(md) {
				bottom: 15px;
			}
		}
	}
	&__form-th {
		position: relative;
		&:before {
			bottom: 10px;
			left: 0;
			background-color: $gray;
			position: absolute;
			display: block;
			width: 90%;
			height: 1px;
			content: "";
			@include breakpoint(md) {
				width: 30%;
				bottom: 15px;
			}
		}
		margin: 0 0 0 auto;
		@include breakpoint(md) {
			display: inline-block;
		}
		@include breakpoint(sm) {
			margin: 0;
		}
	}

	&__form-btn {
		font-size: rem(18);
		margin-left: 30px;
		display: block;
		@include breakpoint(md) {
			display: inline-block;
			width: 75%;
		}
		@include breakpoint(sm) {
			margin: 0;
		}
	}

	&__bottom {
		padding-top: 48px;
		@include breakpoint(md) {
			padding-top: 24px;
		}
		filter: drop-shadow(0px 20px 200px rgba(57, 23, 119, 0.05));
	}

	&__bottom-esti {
		font-weight: 500;
		font-size: rem(16);
		letter-spacing: 0.04em;
		text-transform: uppercase;
		color: $accent;
		margin-bottom: 20px;
	}

	&__bottom-eth {
		font-weight: 700;
		font-size: rem(32);
		letter-spacing: 0.04em;
		color: #0d0d2b;
		margin-bottom: 15px;
		span {
			color: $accent;
		}
		@include breakpoint(sm) {
			font-size: rem(24);
		}
	}

	&__bottom-revenue {
		font-size: rem(16);
		letter-spacing: 0.01em;
		color: #828282;
	}
}

// ------------------

.coins {
	background-color: #f8f9fb;
	padding: 316px 0 100px;
	@include breakpoint(lg) {
		padding-bottom: 70px;
	}
	@include breakpoint(md) {
		padding-top: 210px;
	}

	@include breakpoint(xs) {
		padding-bottom: 40px;
	}

	&__inner {
	}

	&__title {
		font-weight: 700;
		font-size: rem(40);
		text-align: center;
		color: $dark;
		max-width: 700px;
		margin: 0 auto;
		line-height: 1.5;
		margin-bottom: 64px;
		@include breakpoint(md) {
			font-size: rem(30);
		}
	}

	&__flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include breakpoint(lg) {
			flex-direction: column;
		}
	}

	&__item {
		flex: 0 0 31%;
		@include breakpoint(lg) {
			flex: 0 0 100%;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		padding: 48px 24px;
		background-color: white;
		border-radius: 16px;
		transition: 0.4s;
		&:hover {
			background-color: $secondary;
			.coins__coin {
				color: $white;
			}
			.coins__btn {
				&:before {
					display: none;
				}
				&:after {
					display: none;
				}
			}
			.coins__text {
				color: $white;
			}
			.coins__btn-text {
				display: inline-block;
				padding-right: 48px;
				background-color: $accent;
				color: $white;
				border-radius: 32px;
				visibility: visible;
			}
		}
	}

	&__img {
		text-align: center;
	}
	&__them {
		text-align: center;
		margin-top: 48px;
		position: relative;
	}
	&__coin {
		font-weight: 700;
		font-size: rem(32);
		color: $dark;
		transition: 0.1s;
		margin-right: 8px;
	}

	&__3 {
		top: 5px;
		position: absolute;
		display: inline-block;
		font-weight: 500;
		font-size: rem(18);
		color: #bdbdbd;
	}

	&__text {
		font-size: rem(16);
		text-align: center;
		letter-spacing: 0.01em;
		color: #828282;
		line-height: 1.5;
		max-width: 270px;
		margin: 16px auto;
		transition: 0.3s;
	}
	&__button {
		text-align: center;
	}
	&__btn {
		margin-top: 46px;
		display: block;
		position: relative;
		font-weight: 500;
		font-size: rem(18);
		color: black;
		transition: 0.3s;
		&:before {
			transition: 0.3s;
			position: absolute;
			display: block;
			content: "";
			width: 64px;
			height: 64px;
			padding: 0;
			background-color: transparent;
			border: 2px solid rgba(43, 7, 110, 0.2);
			border-radius: 50%;
			top: calc(50% - 32px);
			left: calc(50% - 33px);
			@include breakpoint(lg) {
				display: none;
			}
		}
		&:after {
			transition: 0.3s;
			position: absolute;
			display: block;
			content: "";
			width: 13px;
			background: url("../img/Vectorbig.svg");
			height: 21px;
			top: calc(50% - 10.5px);
			left: calc(50% - 6.5px);
			@include breakpoint(lg) {
				display: none;
			}
		}
	}
	&__btn-text {
		visibility: hidden;
		@include breakpoint(lg) {
			visibility: visible;
			display: inline-block;
			padding-right: 48px;
			background-color: $accent;
			color: $white;
			border-radius: 32px;
		}
		padding: 18px 24px;
		position: relative;
		img {
			display: inline-block;
		}
		span {
			position: relative;
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 28px;
				height: 28px;
				background-color: $white;
				top: -4px;
				left: 10px;
				border-radius: 50%;
			}
			&:after {
				position: absolute;
				display: block;
				content: "";
				width: 7px;
				height: 11px;
				background: url("../img/Vectorsm.svg");
				top: 4px;
				left: 21px;
			}
		}
	}
}

// -----------------

.footer-top {
	background: linear-gradient(180deg, #2b076e 0%, #0d0d2b 100%), #0d0d2b;
	padding: 88px 0;
	@include breakpoint(lg) {
		padding: 88px 64px;
	}
	@include breakpoint(md) {
		padding: 66px 15px;
	}
	@include breakpoint(sm) {
		padding: 44px 0px;
	}
	&__card {
		background-color: $accent;
		border-radius: 16px;
		padding: 48px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(lg) {
			flex-direction: column;
			align-items: flex-start;
		}
		@include breakpoint(md) {
			padding: 48px 12px;
		}
		@include breakpoint(sm) {
			padding: 24px 12px;
		}
		@include breakpoint(xs) {
			padding: 16px 12px;
		}
	}

	&__left {
		@include breakpoint(lg) {
			margin-bottom: 40px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: rem(32);
		color: $white;
		margin-bottom: 16px;
		@include breakpoint(sm) {
			font-size: rem(26);
		}
	}

	&__text {
		font-size: rem(16);
		letter-spacing: 0.01em;
		color: $white;
		max-width: 320px;
		line-height: 1.7;
	}

	&__input {
		display: block;
		position: relative;
		@include breakpoint(md) {
			flex: 0 0 130%;
		}
		@include breakpoint(sm) {
			margin-bottom: 30px;
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			height: 1px;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.4);
			bottom: 13px;
			left: 0;
			@include breakpoint(md) {
				width: 87%;
			}
			@include breakpoint(sm) {
				bottom: -3px;
				width: 200%;
			}
			@include breakpoint(xs) {
				bottom: -5px;
				width: 150%;
			}
		}
	}

	&__right {
		display: flex;
		justify-content: space-between;

		@include breakpoint(sm) {
			flex-direction: column;
		}
		input {
			background-color: transparent;
			font-size: rem(16);
			letter-spacing: 0.01em;
			color: $white;
			padding-right: 250px;
			@include breakpoint(md) {
				padding-right: 0px;
			}
			&::placeholder {
				font-size: rem(16);
				letter-spacing: 0.01em;
				color: $white;
			}
		}
	}

	&__btn {
		margin-left: 40px;
		color: $dark;
		background-color: $white;
		@include breakpoint(lg) {
			margin-left: 30px;
		}
		@include breakpoint(md) {
			display: inline-block;
			margin-left: 0;
		}
	}
}
.footer-bot {
	background: #0d0d2b;
	padding: 80px 0;
	@include breakpoint(sm) {
		padding: 30px 0;
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include breakpoint(sm) {
			flex-direction: column-reverse;
		}
	}

	&__copy {
		font-size: rem(16);
		letter-spacing: 0.01em;
		color: $white;
		@include breakpoint(sm) {
			margin-top: 35px;
		}
	}

	&__icons {
		display: flex;
	}

	&__icon {
		margin-right: 32px;
		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
	}
}
